@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,300;0,9..144,400;0,9..144,600;1,9..144,300;1,9..144,400;1,9..144,600&family=Work+Sans:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #F5EFE0;
  --color-secondary: #EBB878;
  --color-text: #96907E;
  --color-accent-1: #EBD078;
  --color-accent-2: #A678EB;
  --color-accent-3: #7887EB;
  --color-background: #18140F;
  --color-background-mid: #221D16;
  --color-background-card: #2A2318;
  --color-background-dark: #0f0c08;
  --font-primary: 'Work Sans', sans-serif;
  --font-secondary: 'Fraunces';
}
